@model Penedating.Web.Models.ProfileList
@{
    Layout = null;
    var action = ViewContext.RouteData.GetRequiredString("action");
}
<div class="ajax-container" id="rofl">
    <div class="pagination pagination-right pagination-small">
        <ul>
            @if (Model.PageIndex > 0)
            {
                <li>
                    <a href="javascript:void()" onclick=" ajax('@Url.Action(action, new {pageIndex = Model.PageIndex - 1, Model.PageSize})', $(this).closest('div.ajax-container'))">Prev</a>
                </li>
            }
            else
            {
                <li class="disabled">
                    <a>Prev</a>
                </li>
            }
            @for (var i = 0; i < Model.PageCount; i++)
            {
                var classses = i == Model.PageIndex ? "active" : "";
                <li class="@classses">
                    <a href="javascript:void()" onclick="ajax('@Url.Action(action, new { pageIndex = i, Model.PageSize })',$(this).closest('div.ajax-container'))">@(i + 1)</a>
                </li>
            }
            @if (Model.PageIndex + 1 < Model.PageCount)
            {
                <li>
                    <a href="javascript:void()" onclick=" ajax('@Url.Action(action, new {pageIndex = Model.PageIndex + 1, Model.PageSize})', $(this).closest('div.ajax-container'))">Next</a>
                </li>
            }
            else
            {
                <li class="disabled">
                    <a>Next</a>
                </li>
            }
        </ul>
    </div>
    <ul class="thumbnails">
        @foreach (var profile in Model.Profiles)
        {
            <li class="span3">
                @Html.Partial("common-profile-view", profile)
            </li>
        }
    </ul>
</div>