@model Penedating.Web.Models.LoginModel
@{
    Layout = null;
}
@using(Html.BeginForm("Login", "User", FormMethod.Post, new {@class = "form-horizontal"}))
{
    <legend>Sing in to find your penetration partner today!</legend>
    <div class="control-group">
        <label class="control-label" for="login-email">Enter your email</label>
        <div class="controls">
            @Html.TextBoxFor(a => a.Email, new { placeholder = "Email here", id = "login-email" })
            @Html.ValidationMessageFor(a => a.Email, null, new { @class = "label label-important" })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="login-password">And your password</label>
        <div class="controls">
            @Html.PasswordFor(a => a.Password, new { placeholder = "Password here", id = "login-password" })
            @Html.ValidationMessageFor(a => a.Password, null, new { @class = "label label-important" })
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary" onclick="javascript:loginSubmit()">Sing In</button>
            <a href="@Url.Action("Create", "User")" class="btn btn-info" >Create Profile</a>
        </div>
    </div>
}